<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'>My Discounts</p>
  </div>

  <% @merchant.bulk_discounts.each do |discount| %>
    <tr class="discount-<%= discount.id %>">

      <td><%= link_to "Discount ##{discount.id}", merchant_discount_path(@merchant, discount) %></td>
      <td><%= discount.discount.to_discount_format %></td>
      <td>Min Qty: <%= discount.min_qty %></td>
    </tr>
  <% end %>
</body>
